/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	margin-top: 25px;
}

.headline {
	color: #FFFFFF;
}

.sidebar {
	margin-top: 20px;
}

.indexbody {
	margin-top: 20px;
}

.index {
	margin-top: 25px;
}

.indeximage {
	margin-bottom: 20px;
}

.indexnew	{
	margin-top: 20px;
}

.edit-body {
	margin-top: 80px;
}

.user-info	{
	margin-top: 50px;
}

.top{
	margin-top: 80px;
}

.top-button	{
	margin-left: 20px;
}

.about{
	margin-top: 50px;
}

.sessions-name-field	{
	width: 154px;
}

.field{
	margin-bottom: 10px;
}

.links	{
	margin-top: 10px;
}

.login, .signup{
	margin-top: 50px;
}

.error-message	{
	color: #FF0000;
	position: relative;
	top: 10px;
}

.password-new	{
	margin-top: 80px;
	margin-left: 30px;
}

.notice-1		{
	position: relative;
	top: 30px;
	left: 20px;
}